<html>
<head>
    {% block stylesheets %}
        {% stylesheets "assets/vendor/semantic/src/semantic.less" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}
        {% stylesheets "bundles/app/less/common.less" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}

        {#<link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" media="all" />#}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/semantic/dist/semantic.min.js') }}"></script>
        {#{% javascripts 'assets/vendor/semantic/dist/components/*.min.js' %}#}
        {#<script src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}
        {#<script src="{{ asset('assets/vendor/semantic/dist/components/dropdown.min.js') }}"></script>#}
        {#<script src="{{ asset('assets/vendor/semantic/src/definitions/modules/dropdown.js') }}"></script>#}
        <script>
            $(document).ready(function(){
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
                $('.menu .item').tab();
            })
        </script>
    {% endblock %}
</head>
<body>
<main class="ui container">
    <div class="ui menu">
        <div class="brand item ">
            <b>TASK <span class="ui blue">[manager]</span></b>
        </div>
        <a class="ui dropdown item">
            <i class="archive icon"></i>Проекты
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Все</div>
                <div class="ui divider"></div>
                <div class="item">Evrika</div>
                <div class="item">EvrikaCommerce</div>
                <div class="item">EvrikaWebinar</div>
                <div class="item">EvrikaLearning</div>
                <div class="item">Abbvie</div>
            </div>
        </a>

        <a class="item"><i class="tasks icon"></i>Задания</a>
        <a class="item"><i class="calendar icon"></i>Календарь</a>
        <a class="item"><i class="browser icon"></i>Доски</a>
        <div class="right menu">
        <a class="ui dropdown item">Настройки
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Общее</div>
                <div class="ui divider"></div>
                <div class="item">Доступы</div>
            </div>
        </a>
        <div class="item">
            <button class="ui violet button">Войти</button>
        </div>
        </div>
    </div>
    <div class="ui tall stacked segment" id="alert"></div>
    {% block content %}{% endblock %}
</main>
</body>
</html>